:root {
  color-scheme: light dark;
}

body {
  padding: 16px;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  font-size: 16px;
  margin: 0;
}

.view-btn {
  background: -apple-system-fill;
  color: -apple-system-label;
}

.subscribe-btn {
  background: -apple-system-control-accent;
  color: white;
}


button {
  white-space: nowrap;
  padding: 10px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: filter 0.2s;
}
